Source: opx-nas-platform-vm
Section: net
Priority: optional
Maintainer: OpenSwitch Developers <ops-dev@lists.openswitch.net>
Build-Depends: debhelper (>= 9),dh-autoreconf,libopx-common-dev,opx-ndi-api-dev
Standards-Version: 3.9.3

Package: libopx-nas-platform-vm1
Conflicts: libopx-nas-platform1
Provides: libopx-nas-platform1
Replaces: libopx-nas-platform1
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: OPX NAS platform for VM - shared library
